/* Estilo geral da página */
body 
    {
    /* --- ALTERAÇÕES PARA INSERIR UMA IMAGEM DE FUNDO --- */
    background-image: url('https://img.freepik.com/fotos-gratis/variedade-de-elementos-de-cinema-em-fundo-vermelho-com-espaco-de-copia_23-2148457848.jpg?semt=ais_hybrid&w=740'); /* Define a imagem de fundo (substitua 'imagem.jpg' pelo caminho real da imagem) */
    background-size: cover; /* Faz com que a imagem cubra toda a tela proporcionalmente */
    background-position: center; /* Centraliza a imagem no corpo da página */
    background-repeat: no-repeat; /* Evita que a imagem se repita em mosaico */
    /* ---------------------------------------------------- */
    
    font-family: Serif, sans-serif; /* Fonte da página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove espaçamentos internos padrão */
    display: flex; /* Usa flexbox para centralizar os elementos */
    flex-direction: column; /* Organiza os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos no eixo vertical */
    align-items: center; /* Centraliza os elementos no eixo horizontal */
    height: 100vh; /* Define a altura da página como 100% da altura da tela */
    text-align: center; /* Centraliza o texto */

  }
  
  /* Estilo do título principal */
  h1 {
    color: #000000; /* Cor do título */
    margin-top: 20px; /* Espaço acima do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
    font-size: 7rem; /* Tamanho maior do título */
    text-shadow: 0 6px 10px rgba(255, 255, 255, 0.89);
  }
  
  /* Estilo do subtítulo */
  h2 {
    color: #ffffff; /* Cor do subtítulo */
    margin-bottom: 30px; /* Espaço abaixo do subtítulo */
    font-size: 2rem; /* Tamanho do subtítulo */
  }
  
  /* Estilo do formulário */
  form {
    background-color: rgb(0, 0, 0); /* Cor de fundo para o formulário */
    padding: 30px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.89); /* Sombra suave para o formulário */
    width: 200%; /* Largura total */
    max-width: 200px; /* Máxima largura do formulário */
    color:rgb(253, 253, 253)
    
  }
  
  .botoes-login {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 30px 0;
}

/* Estilo para os links que parecem botões */
.btn {
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  text-decoration: none;   /* Remove o sublinhado */
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #080808;
 
}
  /* Estilo para os campos de input */
  input[type="email"], input[type="password"];