/* Estilo geral da página */
body {
  /* Imagem de fundo */
  background-image: url('https://img.freepik.com/fotos-gratis/variedade-de-elementos-de-cinema-em-fundo-vermelho-com-espaco-de-copia_23-2148457848.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Serif, sans-serif;
  margin: 0;
  padding: 0;

  /* Flex para centralizar conteúdo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  text-align: center;
  color: white;
}

/* Estilo do título principal */
h1 {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 7rem;
  text-shadow: 0 6px 10px rgba(255, 255, 255, 0.89);
}

/* Estilo do subtítulo */
h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* Estilo do formulário */
form {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto semitransparente */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.89);
  width: 320px; /* largura fixa confortável */
  color: rgb(253, 253, 253);
  text-align: left;
}

/* Estilo dos campos input */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  box-sizing: border-box;
}

/* Estilo dos labels */
label {
  font-weight: bold;
}

/* Container para os botões lado a lado */
.botoes-lado-a-lado {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
  justify-content: center;
  margin-top: 10px;
}

/* Botão "Entrar" */
form button[type="submit"] {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #000000;
}

/* Botão "Cadastro" */
.botao-cadastro {
  background-color: #fa0101;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-cadastro:hover {
  background-color: #000000;
}

/* Ajusta margem dos containers internos */
div {
  margin-bottom: 10px;
}
